
<NavLink class="list-group-item list-group-item-dark list-group-item-action" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true" /> Home
</NavLink>

<NavLink class="list-group-item list-group-item-dark list-group-item-action" href="ranking">
    <span class="oi oi-bar-chart" aria-hidden="true" /> Ranking
</NavLink>

<div class="list-group-item list-group-item-dark p-2" />

<div class="list-group-item list-group-item-dark">
    <span class="oi oi-signal" aria-hidden="true" /> Server
    <span class="badge badge-danger badge-pill" style="float:right;">OFFLINE</span>
    <span class="badge badge-success badge-pill" style="float:right;">ONLINE</span>
</div>

<div class="list-group-item list-group-item-dark">
    <span class="oi oi-people" aria-hidden="true" /> Gracze
    <span class="badge badge-info badge-pill" style="float:right;">0</span>
</div>

<div class="list-group-item list-group-item-dark p-2" />

<NavLink class="list-group-item list-group-item-dark list-group-item-action" href="settings">
    <span class="oi oi-browser" aria-hidden="true" /> Ustawienia strony
</NavLink>

<div class="list-group-item list-group-item-dark p-2" />

@code {

}